<% if flash[:notice] %>
  <p><%= flash[:notice] %></P>
<% end %>

<h3>My Books</h3>

<ul class="plain">

    <% @books.each do |book| %>
     <li class="style"><%= link_to book.title, book_path(book) %> <br> by: <%= book.author %></li><br>
    <% end %>

<p><%= link_to 'Add a book', new_book_path %></p>